@charset "UTF-8";
body {
  background-image: url("../imagenes/fondo.png");
  background-repeat: repeat-x;
  text-align: center;
  margin-top: 40px;
  background-color: #79c4f5;
}
.background-main {
  margin: 0 auto 0 auto;
  width: 689px;
  height: 533px;
  background-image: url("../imagenes/efecto_trans.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.presentation-image {
  background-image: url("../imagenes/portada.png");
  width: 642px;
  height: 482px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-access {
  display: block;
  background-image: url("../imagenes/entrar_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 112px;
  height: 28px;
  margin: auto auto 20px;
}

.button-access:hover {
  background-image: url("../imagenes/entrar_2.jpg");
}

.wrapper {
  width: 689px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper header {
  background-image: url("../imagenes/uaem_head.png");
  height: 88px;
}

.wrapper footer {
  background-image: url("../imagenes/back_footer.png");
  height: 51px;
}

.menu-subject {
  background-image: url("../imagenes/back_ua.png");
  background-repeat: no-repeat;
  padding-left: 40px;
}

.menu-teachers {
  background-image: url("../imagenes/back_profesor.png");
  background-repeat: no-repeat;
  padding-left: 140px;
}

.menu-teachers ul,
.menu-subject ul {
  margin: 0;
}

.menu-teachers ul li,
.menu-subject ul li {
  font-size: 14px;
  padding-left: 17px;
  padding-right: 10px;
  margin-left: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  list-style: none;
  font-family: Verdana, serif;
  float: left;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.menu-teachers ul li a,
.menu-subject ul li a {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-bottom: 2px;
  list-style: none;
  font-family: Verdana, serif;
  float: left;
  text-decoration: none;
  color: #3e6f8f;
}

.menu-teachers ul li a:hover,
.menu-subject ul li a:hover {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-bottom: 2px;
  list-style: none;
  font-family: Verdana, serif;
  float: left;
  text-decoration: none;
  color: #ffffff;
  background-color: #b4dbf5;
}

.content {
  background-image: url("../imagenes/back_contenido.png"),
    url("../imagenes/back_ground.png");
  background-position: center top, center 342px;
  background-repeat: no-repeat, repeat-y;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.content h3 {
  font-family: Verdana, serif;
  color: #2d5269;
  font-size: 20px;
  font-weight: lighter;
}

.content p {
  font-family: Verdana, serif;
  text-align: left;
  font-size: 12px;
  color: #4983a9;
}

#contenido {
  margin: 0 auto 0 auto;
  width: 689px;
  height: 533px;
  text-align: left;
  font-size: 12px;
  font-family: Verdana;
  color: #3e6f8f;
}
#elcontenido {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url(imagenes/back_contenido.png);
  background-repeat: no-repeat;
  padding-top: 10px;
}

/* MENUS */

#fondo_contenido {
  background-image: url(imagenes/back_ground.png);
  position: relative;
  top: -24px;
  background-repeat: repeat-y;
}
#footer {
  top: 51px;
  height: 51px;
  position: relative;
}
#header {
  height: 88px;
  position: relative;
}

/* BOTONES DEL MENU */
.casilla_borrado {
  background-color: #acd8f5;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
}

.casilla_borrado_par {
  background-color: #ffffcc;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
}
